/* ==========================
   BASE
========================== */
.sidebar {
  width: 100%;
  background: transparent;

  display: flex;
  flex-direction: column;

  height: 100%;
}

/* ==========================
   MOBILE
========================== */
@media (max-width: 1023px) {
  .sidebar {
    display: none; /* 👈 se oculta el resumen completo */
  }
}

/* ==========================
   DESKTOP
========================== */
@media (min-width: 1024px) {
  .sidebar {
    position: sticky;
    top: 72px;

    /* ocupa TODO el alto disponible del contenedor derecho */
    height: calc(100vh - 72px);

    border-left: 1px solid #e5e5e5;
  }
}
