.footer {
  background: #f59e0b; /* naranja */
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* Barra negra superior */
.notice {
  background: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  padding: 4px 12px;
}

/* Resumen */
.summary {
  padding: 3px 16px 8px;
}

/* Filas */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 6px;
}

/* Label con ícono */
.label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}

.label img {
  width: 12px;
  height: 12px;
}

/* Total */
/* Línea única antes del TOTAL */
.total {
  margin-top: 0px;
  padding-top: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  font-size: 16px;
  font-weight: 800;
}

/* Botón */
.cta {
  margin: 0px 16px 14px;
  height: 24px;
  border-radius: 999px;
  border: none;

  background: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.45);

  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: not-allowed;
}

/* Botón habilitado */
.cta:not(:disabled) {
  background: #ffffff;
  color: #f59e0b;
  cursor: pointer;
}

/* ==========================
   MOBILE – OVERLAY FULLSCREEN
========================== */
@media (max-width: 1023px) {
  .notice {
    font-size: 13px;
    padding: 8px 16px;
  }

  .summary {
    padding: 12px 20px 16px;
  }

  .row {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .label {
    gap: 8px;
  }

  .label img {
    width: 16px;
    height: 16px;
  }

  .total {
    font-size: 20px;
    padding-top: 10px;
    margin-top: 8px;
  }

  .cta {
    margin: 12px 20px 20px;
    height: 42px;

    font-size: 14px;
    letter-spacing: 0.8px;
  }
}
