.header {
  padding: 4px 20px;
  background: #f9fafb;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  border-bottom: 1px solid #e5e7eb;
}

/* ==========================
   VARIANTS
========================== */

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1200;

  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
}

.panel {
  position: sticky;
  top: 0;
  z-index: 10;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* ==========================
   STRUCTURE
========================== */

.left {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.right {
  display: flex;
  align-items: center;
}

/* ==========================
   TEXT
========================== */

.title {
  font-size: 30px;
  font-weight: 800;
  color: #f59e0b;
  line-height: 1.1;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
}

/* ==========================
   BUTTONS
========================== */

.primary {
  background: #f59e0b;
  color: #ffffff;
  border: none;
  border-radius: 999px;

  padding: 8px 16px;
  font-size: 13px;
  font-weight: 700;

  cursor: pointer;
  box-shadow: 0 2px 6px rgba(245, 158, 11, 0.35);
}

.primary:hover {
  filter: brightness(0.95);
}

.secondary {
  background: none;
  border: none;
  color: #f59e0b;

  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.secondary:hover {
  text-decoration: underline;
}

/* ==========================
   RESPONSIVE (MOBILE)
========================== */

@media (max-width: 1023px) {
  .header {
    gap: 120px;
    padding: 8px 16px;
    justify-content: center;
  }

  .left,
  .right {
    max-width: 420px;
  }
  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
  }
}

/* ==========================
   DESKTOP
========================== */

@media (min-width: 1024px) {
  .bar {
    display: none;
  }

  /* botones SOLO mobile */
  .right {
    display: none;
  }
}
