.header {
  padding: 0px 20px 16px;
  background: #f2f2f2;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #f59e0b; /* naranja marca */
  margin-bottom: 4px;
}

.subtitle {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}
