@font-face {
  font-family: "MarkPro";
  src: url("../assets/fonts/MarkPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkProLight";
  src: url("../assets/fonts/MarkPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkProBold";
  src: url("../assets/fonts/MarkPro-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkProBlack";
  src: url("../assets/fonts/MarkPro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkProMedium";
  src: url("../assets/fonts/MarkPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABeeZee-Regular";
  src: url("../assets/fonts/ABeeZee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
