@import "./fonts.css";

/* =========================
   Variables globales
========================= */

:root {
  --font-primary: "MarkPro", system-ui, sans-serif;
  --font-secondary: "ABeeZee", system-ui, sans-serif;
}

/* =========================
   Reset base
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* =========================
   Base tipográfica global
========================= */

body {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  color: #111;
  background: #ffffff;
}

/* =========================
   Formularios heredan fuente
========================= */

button,
input,
textarea,
select {
  font-family: inherit;
}
