.page {
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 32px;

  padding-left: 32px;
  padding-right: 0;

  align-items: start;

  min-height: calc(100vh - 80px); /* resta header/breadcrumb */
}

/* Columna izquierda */
.left {
  min-width: 0; /* evita overflow */
}

.filters {
  margin-bottom: 24px;
}

.right {
  position: sticky;
  top: 56px; /* altura REAL del breadcrumb */
  height: calc(100vh - 60px);

  display: flex;
  flex-direction: column;
}
