.footer {
  width: 100%;
  background-color: #ea9a00;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 26px clamp(32px, 5vw, 72px);
  font-size: 16px;
  overflow: hidden; /* ⬅️ CLAVE ABSOLUTA */
}

.text {
  white-space: nowrap;
  font-family: Markpro;
}

.socials {
  display: flex;
  align-items: center;
  gap: 14px;
}

.socials a {
  color: #ffffff;
  font-size: 24px;
  display: flex;
  align-items: center;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.socials a:hover {
  opacity: 0.85;
  transform: translateY(-1px);
}
.socialIcon {
  width: 28px;
  height: 28px;
  fill: currentColor;
}

/* ======================
   FOOTER – MOBILE
====================== */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    padding: 9px 16px 10px; /* ⬅️ menos padding abajo */
    text-align: center;
    overflow: hidden;
  }

  .text {
    white-space: normal;
    font-size: 11px;
    line-height: 1.3;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    height: 28px; /* ⬅️ CLAVE */
    line-height: 28px; /* ⬅️ CLAVE */
  }

  .socials a {
    font-size: 28px;
    height: 28px; /* ⬅️ CLAVE */
    width: 28px;
    line-height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
