.bannerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner {
  width: 100%;
  background: #ffffff;
  border-radius: 28px;

  padding: 36px 48px; /* ↓ antes 60px 40px */
  gap: 48px; /* ↓ antes 80px */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item img {
  width: 60px;
  height: auto;
}

.item h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1px;
  color: #000000;
}

.item p {
  font-size: 13px;
  line-height: 1.2;
  color: #333333;
  max-width: 300px;
  font-weight: 500;
}
