.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 64px 0;
}

.container {
  width: 92%;
  max-width: 1600px; /* MÁS ANCHO */
  min-height: 460px; /* MÁS BAJO */
  display: grid;
  grid-template-columns: 0.9fr 1.1fr; /* Imagen domina más */
  border-radius: 36px;
  overflow: hidden;
}

/* ======================
   IZQUIERDA
   ====================== */
.imageBox {
  position: relative;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 36px 0 0 36px;
}

/* ======================
   DERECHA
   ====================== */
.content {
  background: #f2a100;
  padding: 56px 64px; /* Menos padding vertical */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* TÍTULO */
.content h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
  max-width: 460px;
}

/* FEATURES */
.features {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Más compacto */
}

.feature {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 20px;
  align-items: flex-start;
}

.feature img {
  width: 36px;
  height: auto;
  margin-top: 26px;
  margin-left: -10px;
}

.feature p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 420px;
  font-weight: 400;
}
.featureFirst img {
  margin-top: 26px;
}
